# Security keys — never commit
lib/core/include/security_config.h

# PlatformIO build artifacts
.pio/
.obsidian/
.DS_Store

# VSCode settings
.vscode/

# Build Artifacts
build/

# logs
logs/

# backups

ui/main_display/backup/
ui/main_display/backup/main_display_backup00.zip
ui/main_display/backup/main_display_backup01.zip
ui/main_display/backup/main_display_backup02.zip
ui/main_display/backup/main_display_backup03.zip
ui/main_display/backup/main_display_backup04.zip
ui/main_display/backup/main_display_backup05.zip
ui/main_display/backup/main_display_backup06.zip
ui/main_display/backup/main_display_backup07.zip
ui/main_display/backup/main_display_backup08.zip
ui/main_display/backup/main_display_backup09.zip
